attrs==19.3.0
Automat==0.8.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
lxml==4.5.0
MouseInfo==0.1.2
mypy==0.761
mypy-extensions==0.4.3
parsel==1.5.2
Pillow==9.0.1
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.48
pycparser==2.19
PyDispatcher==2.0.5
PyGetWindow==0.0.8
PyHamcrest==2.0.0
PyMsgBox==1.0.7
pyOpenSSL==19.1.0
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
queuelib==1.5.0
requests==2.22.0
Scrapy==1.8.0
service-identity==18.1.0
six==1.14.0
Twisted==19.10.0
typed-ast==1.4.1
typing-extensions
urllib3==1.25.8
w3lib==1.21.0
zope.interface==4.7.1
typer
pydantic